.commentStyle{
    background-color: #343A40;
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
    padding: 2%;
    overflow: scroll;
}

.close{
    position: absolute;
    font-size: 2em;
    color: darkgoldenrod;
    top: 0;
    right: 1%;
    transform: rotate(45deg);
}

#lienIndex:hover{
    cursor: pointer;
    color: darkgoldenrod;
    text-decoration: none;
}

#lienIndex:visited{
    color: darkgoldenrod;
}

#titreVideo{
    color: darkgoldenrod;
}

#titreAuteur{
    color: whitesmoke;
}

#videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.containerAccordion{
    display: flex;
    justify-content: center;
}

.accItem{
    background-color: whitesmoke;
}

.collapseStyle{
    background-color: darkgoldenrod;
    color:whitesmoke;
}


/* .collapsed{
    background-color: whitesmoke;
    color: darkgoldenrod;
} */

.commentDiv{
    background-color: darkslategray;
    width: 100%;
    border: 1px solid orangered;
    border-radius: 7px;
    padding : 1%;
    margin-bottom: 2%;
    overflow: scroll;
}

#commentInfo{
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}

.titreComment{
    color: orangered;
    font-size: 1.2em;
    font-weight: 400;
}

.comment{
    text-align: justify;
    color: wheat;
    font-size: 1em;
    font-weight: 300;
    padding-left: 1%;
    padding-right: 1%;
}

#buttonComment{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}