html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000;
  /* min-width: 1200px; */
}

h1 {
  font-family: Arial;
  color: red;
  text-align: center;
  margin-top: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}



.container {
  width: 1200px;
  margin-bottom: 20px;
  background-color: #000;
  position: relative;
  overflow-X: hidden;
}
.slider {
  position: relative;
  width: 100%;
  height: 450px;
  transition: .7s ease-in-out;
  transform: translateX(0);
}
.slider-item {
  position: absolute;
  height: 150px;
}
.slider-btn {
  top: -370px;
  position: relative;
}
.slider-btn a {
  position: absolute;
  font-size: 80px;
  opacity: 80%;
  /* top: 50%;
  transform: translateY(-50%); */
  color: grey;
}
.slider-btn a.arrow-left {
  left: 10px;
  top: 50%;
}

.slider-btn a.arrow-right {
  right: 10px;
}

iframe {
<<<<<<< HEAD
  border: 0px;
  margin: 0px;
=======
<<<<<<< HEAD
  border: 0px;
  margin: 0px;
=======
  border: 50px;
  margin: 30px;
>>>>>>> d363381fca2a9f03a117196bec6a9f0fa4d2dded
>>>>>>> 4b99d7f03f7b7fd5a3ca60b61478cd6af105f536
}

.styleCard{
  background-color: #343A40;
}

<<<<<<< HEAD
@media screen and (max-width: 1000px) {
  .slider-item {
    position: absolute;
    width: 25px;
    height: 50px;
  }
  .container {
    position: relative;
    width: 600px;
  }
}




=======



>>>>>>> 4b99d7f03f7b7fd5a3ca60b61478cd6af105f536
